<div *ngIf="article">
<h1  style="width: 800px;margin:auto;margin-top: 100px;">Details</h1>

<ul class="list-group" style="width: 800px;margin:auto;margin-top: 20px;">
  <button [routerLink]="['/' ]">Retourner</button>
  <li class="list-group-item" >id: {{ article.id}}</li>
  <li class="list-group-item" >title: {{ article.title}}</li>
  <li class="list-group-item" >content: {{ article.content}}</li>
</ul>
</div>
