
<h1  style="width: 800px;margin:auto;margin-top: 100px;">Listing</h1>
<ul class="list-group" style="width: 800px;margin:auto;margin-top: 20px;">
  <li class="list-group-item" *ngFor="let article of listArticles"><a [routerLink]="['/articles/detail/' , article.slug ]">{{ article.title }}</a></li>
  <button [routerLink]="['/articles/create/']">Créer un article</button>
</ul>
