<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" style="width: 800px;margin:auto;margin-top: 20px;">
<div class="form-group">
    <label for="inputTitle">Title </label>
    <input type="text" class="form-control" id="inputTitle"  formControlName="title" placeholder="Enter title">
    <div class="alert alert-danger" style="margin-top: 5px" *ngIf="submitted && g.title.errors &&  g.title.errors.required" >Titre est nécessaire</div>
</div>
  <div class="form-group">
    <label for="inputContent">content </label>
    <input type="text" class="form-control" id="inputContent"  formControlName="content" placeholder="Enter content">
    <div class="alert alert-danger" style="margin-top: 5px" *ngIf="submitted && g.content.errors &&  g.content.errors.required " >Contenu est nécessaire</div>
  </div>
  <button type="submit" class="btn btn-primary">Créer</button><br>
  <button type="submit" [routerLink]="'/'" class="btn btn-primary" style="margin-top: 5px">Retourner à la liste</button>
  <div *ngIf="registered == true"  class="alert alert-success" style="margin-top: 5px;">
    Félicitations, l'article a bien été crée
  </div>
</form>
